* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(76, 76, 254);
    font: normal 20px Arial;
}

header {
    color: white;
    margin: 20px;
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
}

#button {
    background-color: rgb(76, 76, 254);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px;
    font-weight: bold;
}

.footer > p {
    text-align: center;
    margin: 20px;

}